@media screen and (min-width: 800px) {
    label {
        font-size: 12px;
    }
}

@media screen and (min-width: 1024px) {
    label {
        font-size: 12px;
    }
}

@media screen and (min-width: 1280px) {
    label {
        font-size: 16px;
    }
}

@media screen and (min-width: 1920px) {
    label {
        font-size: 16px;
    }
}

.common_info {
    background-color: rgba(182, 218, 234, 0.5);
    padding: 5px 10px 40px 10px;
    border-radius: 0 0 10px 10px;
}

.citizen-info {
    background-color: rgba(151, 199, 194, 0.5);
    padding: 5px 10px 25px 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.organization-info {

    background-color: rgba(186, 184, 217, 0.5);
    padding: 5px 10px 25px 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.info-blocks {
    background-color: whitesmoke;
    padding: 5px 10px 25px 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.label-field {
    display: block;
    text-align: center;
    font-weight: bold;
}

.label-margin {
    margin-bottom: 4px;
}

.input-align-field {
    text-align-last: center;
}

.input-align-field-error {
    border-color: red;
    border-width: 2px;
}

.datepicker-position {
    position: relative;
}

.title-info {
    margin-top: 5px;
    text-align: center;
}

#title_is_local {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 400px;
    text-align: center;
    padding: 5px;
    border: solid 1px black;
    border-radius: 4px;
    /*background: linear-gradient(260deg, rgba(151,199,194,0) 0%, rgba(156, 197, 195, 1) 50%, rgba(151,199,194,0.0) 100%);*/
}
#title_is_local span{
    display: inline-block;
    margin-right: 5px;
}


.error-message {
    color: red;
    font-size: 13px;
    position: absolute;
    display: block;
    text-align: center;
    animation-name: error-append;
    animation-duration: 0.6s;
}

@keyframes error-append {
    0% {
        opacity: 0;
        margin-top: -20px;
    }
}

.ajax-loader {
    width: 70px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

.modal-label {
    display: block;
    margin-top: 5px;
}

.double_modal_list {
    margin-top: 3px;
}

.ajax-double-appeal-row:hover {
    background-color: rgba(194, 230, 243, 0.4);
}

.ajax-double-appeal-row-clicked {
    background-color: #c4e3f3;
}

#sign_edit {
    position: absolute;
    margin-top: 5px;
    margin-right: 4px;
    float: right;
    cursor: pointer;
}

.no-address-names, .no-address {
    display: block;
    cursor: pointer;
    padding-top: 4px;
    margin-left: 6px;
    font-size: 18px;
}

.no-address-names:hover, .no-address:hover {
    color: darkred;
}

#not-from-region-icon {
    display: block;
    margin-top: 25px;
    margin-left: 10px;
    cursor: pointer;
}

#not-from-region-icon:hover {
    color: darkred;
}

#add_question_btn {
    display: block;
    margin-top: 2px;
    margin-left: 7px;
    font-size: 20px;
    cursor: pointer;
}

#add_question_btn:hover {
    color: darkgreen;
}

.remove_question_btn {
    display: block;
    margin-top: 2px;
    margin-left: 7px;
    font-size: 20px;
    cursor: pointer;
}

.remove_question_btn:hover {
    color: darkred;
}

.additional-question-row {
    animation-name: appends;
    animation-duration: 0.3s;
}

@keyframes appends {
    0% {
        width: 1px;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}

.remove_question_btn_animation {
    animation-name: remove;
    animation-duration: 0.3s;
}

@keyframes remove {
    0% {
        width: 100%;
        height: 100%;
    }
    100% {
        width: 0;
        height: 0;
    }
}

textarea {
    resize: none;
}

#add_doer_btn {
    display: block;
    margin-top: 2px;
    margin-left: 7px;
    font-size: 20px;
    cursor: pointer;
}

#add_doer_btn:hover {
    color: darkgreen;
}

.remove_doer_btn {
    display: block;
    margin-top: 2px;
    margin-left: 7px;
    font-size: 20px;
    cursor: pointer;
}

.remove_doer_btn:hover {
    color: darkred;
}

#pattern_resolution {
    font-size: 45px;
    cursor: pointer;
}

#pattern_resolution:hover {
    color: darkred;
}

#pattern_resolution_block {
    margin-top: 55px;
    margin-left: 20px;
}

.resolution_item {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.resolution_item:hover {
    background-color: #c4e3f3;
    border-radius: 10px;
}

.resolution_align {
    margin-left: auto;
}

#submit-btn {
    background-color: #5014a3;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
}

.modal-close {
    background-color: darkred;
}

.modal-close:hover {
    background-color: darkred;
}

.form-control.not-editable {
    border-radius: 0;
    background: transparent;
    border: none;
    border-bottom: black 1px solid;
}

.error-input {
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 10px #c13941;
    color: red;
}

.error-input:focus {
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 10px #c13941;
    color: red;
}

.success-input {
    outline: none !important;
    border: 1px solid green;
    box-shadow: 0 0 10px #bfdcb4;
}

.wrapper_edit {
    position: relative;
    float: right;
    cursor: pointer;
}

.show_edit_icon {
    position: absolute;
    bottom: 10px;
    right: 1px;
}

#search-clients {
    cursor: pointer;
}

#search-clients i:hover {
    color: darkred;
}

.edit-icon-block:hover {
    color: darkred;
    cursor: pointer;
}
.edit-border{
    border-left: solid 7px orange;
    border-right: solid 7px orange;
}
#fixed-edit{
    float: right;
}

#fixed-edit #icons{
    position: fixed;
    bottom: 30px;
    right: 12px;
    font-size: 40px;
}
#icons i{
    display: block;
    margin-top: 15px;
}
#fixed-edit i:hover{
    color: darkred;
    cursor: pointer;
}
/*#logo-nav{*/
/*    border-radius: 50%;*/
/*    animation: animate 2s linear infinite;*/
/*    perspective: 800px;*/
/*}*/
/*@keyframes animate {*/
/*    0%{*/
/*        transform: rotateY(0deg);*/
/*    }*/
/*    100%{*/
/*        transform: rotateY(360deg);*/
/*    }*/
/*}*/


